<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <h1>HOTEL DUBAY</h1>
      <br />
      <h3>HOTEL #1 DE COLOMBIA</h3>
      <br />
      <h4>Hotel 5 Estrellas Medellín – Colombia</h4>
      <br /><br />
      <p>
        hotel DUBAY es la primera elección de los extranjeros y ejecutivos al
        visitar esta hermosa Ciudad. Se encuentra ubicado en el corredor vial
        conocido como la “Milla de oro” (Avenida el Poblado), en el Centro
        Financiero y Cultural San Fernando Plaza; sector de El Poblado, el más
        exclusivo de la Capital antioqueña. <br /><br />Catalogado como el Hotel
        número 1 de Colombia y ganador de Mejor Hotel de Conferencias y
        Ejecutivo de Colombia.<br /><br />
        Hotel 5 Estrellas en Medellín y número 1 de Colombia, con las mejores
        instalaciones , moderno y unas amplias y cómodas zonas húmedas y piscina
      </p>
    </div>
    <div class="col-12 col-md-4 my-5">
      <div class="row">
        <div
          class="col-6 caja-imagen caja-imagen-uno img-fluid shadow noticias"
        ></div>
        <div
          class="col-6 caja-imagen caja-imagen-dos img-fluid shadow noticias"
        ></div>
      </div>
      <div class="row mt-2">
        <div
          class="col-6 caja-imagen caja-imagen-tres img-fluid shadow noticias"
        ></div>
        <div
          class="col-6 caja-imagen caja-imagen-cuatro img-fluid shadow noticias"
        ></div>
      </div>
    </div>
  </div>
</div>
