<footer>
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-12 col-md-4">
                <img src="../../assets/img/logo.jpeg" alt="" class="img-fluid w-100"><br><br>
                <p>
                    Dirección: Cra. 42A # 1-15, El Poblado, Medellín, El Poblado,
                </p>
                <p>
                    Telefono: +604 444 53 53
                </p>
                <p>
                    reservas@hoteldubay.com
                </p>
                <i class="bi bi-facebook fs-1"></i>
                <i class="bi bi-instagram fs-1 ms-2"></i>
            </div>
            <div class="col-12 col-md-8">
                <iframe class="w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5773.953078199736!2d-75.59842766300862!3d6.188010633622372!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46836c8ebe8d7f%3A0xf1736c37f975edb0!2sCiudadela%20del%20Parque%20Arquitectura%20y%20Concreto%20-%20Sala%20de%20ventas!5e0!3m2!1ses-419!2sco!4v1667419480189!5m2!1ses-419!2sco" width="800" height="800" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</footer>
